// Accordions

.accordion {

  .accordion-toggle {
    cursor: pointer;
    position: relative;
    padding-right: 40px;
    @include hover-style;

    .expand-contract {
      top: 50%;
      position: absolute;
      right: #{$spacing * 2};
      transform: translateY(-50%);
    }
  }

}