// Base Styles

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
}

body {
  @include p1;
  overflow-x: hidden;
  color: color(green-dark);
  background-color: color(blue-light);
}

a {
  color: inherit;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: $global-wrap;
  padding-left: #{$spacing * 2};
  padding-right: #{$spacing * 2};

  &.-extended {
    padding-left: 0;
    padding-right: 0;
    max-width: $global-wrap;
  }

  @include media-md {
    &, &.-extended {
      padding-left: #{$spacing * 10};
      padding-right: #{$spacing * 10};
    }
  }
}

.page-main-content {
  z-index: 1;
  position: relative;

  > div:first-child .block:first-child {
    margin-top: 0;
  }
}

.content-padding {
  @include media-md {
    padding: 0 #{$spacing * 2};
  }
}

.site-main {
  padding-bottom: #{$spacing * 8};
  background-color: color(blue-light);
}

// Site-wide Overlay
#site-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  position: fixed;
  background-color: rgba(color(black),.9)
}