// Forms

form {
  .input-wrap {
    position: relative;

    &.single-line {
      display: flex;
      border-radius: 5px;
      @include transition(box-shadow);

      input {
        flex-grow: 1;
        min-width: 1px;
        border-radius: 5px 0 0 5px;
        &:hover,
        &:focus,
        &.-focus {
          box-shadow: none;
        }
      }
      .form-cta {
        border-radius: 0 5px 5px 0;
      }

      &:hover,
      &:focus,
      &.-focus {
        box-shadow: 0 0 0 5px color(blue);
      }
    }
  }

  input,
  input[type="search"] {
    @include p1;
    border: none;
    height: 55px;
    appearance: none;
    border-radius: 5px;
    padding: 12px #{$spacing * 2};
    background-color: color(white);

    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 5px color(blue);
    }
  }

  button[type="submit"] {
    @include h4;
    border: none;
    outline: none;
    appearance: none;
  }

  .custom-select {
    @include p1;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    @include transition(box-shadow);
    
    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 5px color(blue);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
    }
    &::before {
      top: 0;
      right: 0;
      width: 55px;
      height: 100%;
      background: color(green-light);
    }
    &::after {
      top: 50%;
      right: 17px;
      width: 20px;
      height: 20px;
      transform: rotate(90deg) translateX(-50%);
      background-image: url('../svgs/icon-arrow-select.svg');
      background-size: 20px 20px;
    }

    select {
      width: 100%;
      border: none;
      height: 55px;
      display: block;
      cursor: pointer;
      appearance: none;
      background-color: color(white);
      padding: 12px 100px 12px #{$spacing * 2};
      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  .form-cta {
    cursor: pointer;
    fill: color(green-dark);
    color: color(green-dark);
    padding: 12px #{$spacing * 2};
    background-color: color(green-light);
    @include transition(background-color, color);

    &.-dark {
      color: color(green-light);
      background-color: color(green-dark);
    }

    .icon {
      width: 20px;
      height: 20px;
      bottom: -1px;
      fill: inherit;
      position: relative;
      @include transition(fill);
    }

    &:hover,
    &:focus {
      fill: color(white);
      color: color(white);
      background-color: color(blue);
    }

    @include media-md {
      padding: 12px #{$spacing * 4};
    }
  }
}