// Header Styles

// Vars
$utilityNavHeight: 60px;
$mainNavHeightSm: 60px;
$mainNavHeightMd: 100px;
$adminbarHeightSm: 52px;
$adminbarHeightMd: 45px;

// Compensate for the craft adminbar
html.adminbar-on {
  body {
    padding-top: $mainNavHeightSm + $adminbarHeightSm;
  }

  #adminbar {    
    top: 0;
    width: 100%;
    position: fixed;
  }

  .site-header {
    top: $adminbarHeightSm;
  }

  @include min-screen(600px) {
    body {
      padding-top: $mainNavHeightSm + $adminbarHeightMd;
    }

    .site-header {
      top: $adminbarHeightMd;
    }
  }

  @include media-nav {
    body {
      padding-top: $mainNavHeightMd + $adminbarHeightMd;
    }
  }
}

// Compensate on body for fixed header
body {
  padding-top: $mainNavHeightSm;

  @include media-md {
    padding-top: $mainNavHeightMd;
  }

  @include media-nav {
    padding-top: $mainNavHeightMd + $utilityNavHeight;  

    &.nav-up {

      .site-header {
        padding-top: 0;
      }

      .nav-utility {
        transform: translateY(-100%);
      }
    }
  }
}

.site-header {
  top: 0;
  z-index: 20;
  width: 100%;
  position: fixed;
  @include transition(padding);
  background-color: color(black);

  > .wrap {
    padding: 0;
  }

  @include media-nav {
    box-shadow: $box-shadow;

    > .wrap {
      @include clearfix;
      padding: 0 #{$spacing * 10};
    }
  }
  
  .site-headline {
    margin: 0;
    z-index: 11;
    @include smooth;
    position: relative;
    box-shadow: $box-shadow;
    height: $mainNavHeightSm;
    background-color: color(black);
    padding: #{$spacing / 2} #{$spacing * 2};

    @include media-md {
      height: $mainNavHeightMd;
      padding: #{$spacing * 2} #{$spacing * 10} #{$spacing * 2} #{$spacing * 12};
    }
    @include media-nav {
      float: left;
      box-shadow: none;
      padding: #{$spacing * 2.5} 0;
      background-color: transparent;
      margin: 0 #{$spacing * 5} 0 #{$spacing * 2};
    }
  }

  .site-title {
    @include h3;
    margin-bottom: 0;
    display: inline-block;
    // Manual letter-spacing to align to subtitle
    letter-spacing: .024em;

    a {
      color: color(white);
      @extend .inline-link;
      text-decoration: none;
    }
  }

  .site-subtitle {
    margin: 0;
    @include font-copy;
    color: color(white);
    @include paragraph-style(10, 10, .056em, uppercase);

    a {
      padding-top: 2px;
      text-decoration: none;
    }
  }

  .nav-toggle {
    top: 0;
    right: 0;
    padding: 0;
    z-index: 12;
    border: none;
    display: flex;
    appearance: none;
    position: absolute;
    justify-content: center;
    width: $mainNavHeightSm;
    height: $mainNavHeightSm;
    background-color: color(green-light);

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    .icon {
      width: 20px;
      height: 20px;
      fill: color(green-dark);

      &.icon-close {
        display: none;
      }
    }

    &.-active {
      .icon-close {
        display: block;
      }
      .icon-hamburger {
        display: none;
      }
    }

    @include media-md {
      width: $mainNavHeightMd;
      height: $mainNavHeightMd;
    }

    @include media-nav {
      display: none;
    }
  }

  .site-nav-main {
    left: 0;
    @include h5;
    width: 100%;
    z-index: 10;
    overflow: auto;
    position: fixed;
    top: $mainNavHeightSm;
    color: color(green-dark);
    transform: translateY(-100%);
    transition: transform .5s $slide-easing;
    height: calc(100% - #{$mainNavHeightSm});

    &.-active {
      transform: none;
    }

    > a,
    .nav-parent-label {
      line-height: 60px;
      padding: 0 #{$spacing * 2};

      &.-current {
        text-decoration: underline;
      }
    }

    li {
      border-top: 1px solid color(green-dark);
    }

    @include media-md {
      top: $mainNavHeightMd;
      height: calc(100% - #{$mainNavHeightMd});
    }

    @include media-nav {
      width: auto;
      float: right;
      height: auto;
      display: block;
      transform: none;
      position: static;
      transition: none;
      overflow: visible;
      color: color(white);

      a,
      .nav-parent-label {
        padding: 0 #{$spacing * 1.5};
      }

      a {
        line-height: inherit;
      }

      .nav-parent-label {
        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
        }
      }

      .nav-top-level > li {
        border-top: none;
      }
    }

    .nav-utility {
      margin: 0;

      > .wrap {
        padding: 0;
      }

      li {
        background-color: color(white);
      }

      a {
        padding: #{$spacing * 2};
      }

      .nav-sub-level {
        a {
          padding-left: 0;
        }
      }

      .site-language-select {
        .nav-parent-label {
          .icon {
            width: 15px;
            height: 15px;
            fill: inherit;
            display: none;
            transform: rotate(90deg);
          }
        }
      }

      @include media-nav {
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: right;
        fill: color(white);
        position: absolute;
        color: color(white);
        height: $utilityNavHeight;
        @include transition(transform);
        background-color: color(green-dark);

        > .wrap {
          padding: 0 #{$spacing * 10 };
        }

        li {
          background-color: transparent;
        }

        a {
          padding: 0;

          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
          }
        }

        .site-language-select {
          padding-right: #{$spacing * 4 - ($spacing * 1.5)};

          .nav-parent-label {
            .expand-contract {
              top: 2px;
              right: auto;
              width: 15px;
              height: 15px;
              transform: none;
              position: relative;
              display: inline-block;
              margin-left: $spacing;

              &::before,
              &::after {
                display: none;
              }
            }
            .icon {
              display: block;
            }
          }
        }

        .nav-top-level {
          > li {
            float: none;
            display: inline-block;
            margin-left: #{$spacing * 3};

            &::before {
              top: 50%;
              width: 1px;
              content: '';
              height: 1em;
              display: block;
              position: absolute;
              left: -#{$spacing * 1.5};
              background-color: color(white);
              transform: translate(-50%, -50%);
            }

            &:first-of-type {
              margin-left: 0;

              &::before {
                display: none;
              }
            }

            a {
              line-height: $utilityNavHeight;
            }
          }
        }

        .nav-sub-level {
          a {
            background-color: color(green-light);
            @include hover-style;
          }
        }
      }
    }
  }

  .nav-main {
    position: relative;
    background-color: color(green-light);

    a,
    .nav-parent-label {
      background: color(green-light);
    }

    @include media-nav {
      background-color: transparent;
      padding-right: #{$spacing * 4 - ($spacing * 1.5)};

      > li > a,
      .nav-parent-label {
        cursor: pointer;
        line-height: $mainNavHeightMd;
        background-color: transparent;
      }
    }

  }

  @include media-nav {
    padding-top: $utilityNavHeight;
  }
}

// Common Site Nav Styles
.site-nav {
  ul {
    @extend .semantic-list;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .nav-parent-label {
    display: block;
    cursor: pointer;
    position: relative;

    &.-active {
      .expand-contract {
        @extend .-active;
      }
    }

    .expand-contract {
      top: 50%;
      position: absolute;
      right: #{$spacing * 2};
      transform: translateY(-50%);
    }

  }

  .nav-sub-level {
    display: none;
    padding: 0 #{$spacing * 2} 0 #{$spacing * 6};

    > li a {
      padding: #{$spacing * 2} 0;
    }

    @include media-nav {
      > li a {      
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @include media-nav {
    .nav-top-level {
      @include clearfix;

      > li {
        float: left;

        .expand-contract {
          display: none;
        }
      }
    }

    li {
      border-top: none;
      position: relative;
    }

    .nav-parent-label {
      &:hover,
      &:focus,
      &:active {
        + .nav-sub-level {
          display: block;
        }
      }
    }

    .nav-sub-level {
      top: 100%;
      left: 50%;
      padding: 0;
      z-index: 2;
      width: 400px;
      position: absolute;
      box-shadow: $box-shadow;
      transform: translateX(-50%);

      &:hover,
      &:focus,
      &:active {
        display: block;
      }

      &::before {
        left: 50%;
        content: '';
        width: 40px;
        height: 20px;
        bottom: 100%;
        position: absolute;
        border-style: solid;
        pointer-events: none;
        transform: translateX(-50%);  
        border-width: 0 20px 20px 20px;
        border-color: transparent transparent color(green-light) transparent;
      }

      li {
        &:first-child {
          border-top: none;
        }
      }

      a {
        line-height: 60px;
        text-align: center;
        white-space: nowrap;
        color: color(green-dark);
        padding: 0 #{$spacing * 4};
        @include hover-style;
      }
    }
  }
}

// Search and search toggle styles
.search-toggle {
  top: 0;
  z-index: 1;
  left: 100%;
  padding: 0;
  border: none;
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;
  background-color: color(green-light);
  @include transition(background-color);

  &:focus,
  &:active {
    outline: none;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin: auto;
    fill: color(green-dark);
    @include transition(fill);

    &.icon-close {
      display: none;
    }
  }

  &.-active {
    .icon-search {
      display: none;
    }
    .icon-close {
      display: block;
    }
  }

  @include media-nav {
    display: block;

    &:hover {
      background-color: color(blue);

      .icon {
        fill: color(white);
      }
    }
  }
}

.header-search-wrap {
  @include media-nav {
    left: 50%;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    transform: translateX(-50%);

    &::after {
      z-index: 1;
      left: 100%;
      width: 100%;
      content: '';
      bottom: 100%;
      position: absolute;
      background: color(black);
      height: $mainNavHeightMd;
      margin-left: -#{$spacing * 2};
    }
  }
}

#header-search-form {
  background-color: color(black);

  .search-form {  
    padding: #{$spacing * 2};
  }

  @include media-nav {
    bottom: 0;
    width: 60%;
    display: flex;
    position: absolute;
    right: #{$spacing * 10};
    height: $mainNavHeightMd;
    transform: translateX(100%);
    transition: transform .3s $slide-easing;
    padding-left: calc(10% + #{$spacing * 10});

    &.-active {
      transform: translateX(0);
    }

    .search-form {
      width: 100%;
      margin: auto 0;
      padding: 0 #{$spacing * 4} 0 0;
    }

    .input-wrap {
      width: 100%;
      height: 55px;
    }

    input {
      color: color(green-dark);
    }
  }
}