// Page Header

.page-banner {
  padding: 0;
  position: relative;
  background-color: color(blue-light);

  @include media-md {
    padding-right: #{$spacing * 10};
  }

  .banner-item {
    width: 100%;
  }

  .banner-image {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    background-size: cover;
    background-position: top center;

    @include media-md {
      padding-bottom: 30.7692%;
      background-position: center;
    }
  }

  .banner-text-container {
    padding-left: #{$spacing * 2};

    &.with-nav {
      margin-top: -60px;
    }

    @include media-md {
      z-index: 2;
      float: right;
      padding-left: 0;
      margin-top: -60px;
      position: relative;
      width: calc(#{columns(3)} - 25px);
      margin-bottom: #{$spacing * 8};
    }
  }

  .banner-text-carousel {
    border-left: 1px solid color(green-dark);
  }

  .banner-text {
    width: 100%;
    min-height: 60px;
    background-color: color(blue-light);
    padding: #{$spacing * 2} #{$spacing * 2} 0;

    .banner-title {
      margin: 0;
      @include h3;
    }

    p {
      @include p2;
      margin: $spacing 0 0;
    }
  }

  // Navigation
  .page-banner-nav {
    @include clearfix;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    background-color: color(green-light);

    button {
      padding: 0;
      float: left;
      width: 60px;
      border: none;
      height: 60px;
      display: flex;
      position: relative;
      fill: color(green-dark);
      background-color: color(green-light);
      @include hover-style;

      &:hover {
        &::after {
          z-index: -1;
        }
      }
    }

    .icon {
      width: 20px;
      height: 20px;
      margin: auto;
      fill: inherit;
    }

    .previous {
      margin-right: 1px;
      .icon {
        transform: rotate(180deg);
      }
      &::after {
        right: 0;
        top: 10px;
        width: 1px;
        z-index: 1;
        content: '';
        height: 40px;
        position: absolute;
        pointer-events: none;
        transform: translateX(1px);
        background-color: color(green-dark);
      }
    }

  }
}

.page-header {
  z-index: 1;
  position: relative;
  background-color: color(blue-light);
  margin: #{$spacing * 2} 0 #{$spacing * 8};

  &.no-pagebanner {
    margin: 0;
    padding: #{$spacing * 4} 0 0;
  }

  .page-subtitle {
    margin: 0;
    @include h5;
  }

  .page-title {
    @include h1;
    margin-bottom: #{$spacing * 3 - baseline('h1')};
  }

  .page-subheader {
    margin: 0;
    @include h5;
  }

  .page-intro {
    @extend .top-margin-paras;

    a {
      @extend .inline-link;
    }

    .link-block {
      p {
        margin-top: 1em;
      }
    }

    .projects-legend {
      position: relative;
      margin-top: #{$spacing * 2};

      .icon {
        top: 4px;
        width: 20px;
        height: 20px;
        fill: inherit;
        position: absolute;
      }

      p {
        padding-left: #{$spacing * 3};
      }
    }
  }

  @include media-md {
    float: left;
    width: columns(9);
    min-height: #{$spacing * 6};
    margin-top: -#{$spacing * 6};
    padding: #{$spacing * 2} #{$spacing * 2} 0;

    .-inner {
      width: 7/9 * 100%;
    }

    &.no-pagebanner {
      margin-top: 0;
      width: columns(7);
      padding: #{$spacing * 8} #{$spacing * 2} 0;

      .-inner {
        width: 100%;
      }
    }
  }
}