// Page Blocks

.block {
  &:not(.background-image-block, .page-bottom-image) {
    z-index: 1;
    position: relative;
  }
}

// Page Section Titles
.page-section {
  @include h2;
  margin: #{$spacing * 8} 0 #{$spacing * 4};
}

// Text Block
.text-block {
  a {
    @extend .inline-link;
  }

  &.one-column {
    @extend .column-primary;
  }

  &.two-column {
    @include media-md {
      columns: 2;
    }
  }
}

// Link Blocks
.link-block {
  a {
    @include type-link;
    @extend .inline-link;

    &:not(.downloadable)::after {
      content: ' >';
    }

    .icon {
      width: 20px;
      height: 20px;
      fill: inherit;
      margin-left: $spacing;
    }
  }
}

// Image Blocks
.image-block {
  padding: 0;
  position: relative;
  margin: #{$spacing * 8} 0;

  img {
    max-width: 100%;
    vertical-align: bottom;
  }

  .caption {
    margin: 0;
    @include p2;
    padding-top: $spacing;
  }

  @include media-md {
    @include clearfix();

    img {
      width: calc(#{columns(9)} + #{$spacing});
    }

    .caption {
      float: right;
      padding-top: 0;
      padding-left: #{$spacing * 2};
      width: calc(#{columns(3)} - #{$spacing});
    }

    &.-last {
      margin-bottom: -#{$spacing * 12};
    }
  }
}

// Image with quote
.image-with-quote {
  blockquote {
    margin: 0;

    .quote {
      margin: 0;
      @include h3;
    }
    footer {
      line-height: 1;
      margin-top: #{$spacing * 2};
    }
    cite {
      @include p2;
      vertical-align: top;
    }
  }

  @include media-md {
    blockquote {
      right: 0;
      top: -1px;
      width: 50%;
      position: absolute;
      background-color: color(blue-light);
      padding: 1px 0 #{$spacing * 2} #{$spacing * 2};
    }
  }
}

// Image with stat
.image-with-stat {
  .stat {
    @include clearfix;

    > * {
      float: left;
    }
  }

  h5 {
    margin: 0;
    @include h1;
    margin-bottom: -100%;
    display: inline-block;
    transform: translateY(-100%);
    background-color: color(blue-light);
    padding: #{$spacing * 2} #{$spacing * 2} 0 0;
  }

  .stat-description {
    @include p2;
    padding-top: #{$spacing * 2};
  }
  
  @include media-md {
    .stat {
      right: 0;
      top: -1px;
      width: 100%;
      position: absolute;

      > * {
        float: right;
      }

      .stat-figure {
        margin: 0;
        float: right;
        transform: none;
        padding: 0 0 #{$spacing * 2} #{$spacing * 2};
      }

      .stat-description {
        float: right;
        clear: right;
        padding-top: 0;
        text-align: left;
        padding-left: #{$spacing * 2};
        width: calc(#{columns(3)} - #{$spacing});
      }
    }
  }
}

// Background Image Blocks, with and without stat
.background-image-block  {
  z-index: 0;
  position: relative;
  
  @include max-screen($breakpoint-md) {
    margin: #{$spacing * 4} 0;
  }

  // Variation with stat
  &.with-stat {
    @include media-md {
      margin-top: #{$spacing * 6};
      padding-top: #{$spacing * 10};
    }
  }

  // Stat Styles
  .stat {
    margin: 0;
    padding: #{$spacing * 2};
    background-color: color(blue-light);
    
    .stat-figure {
      @include type-stat;
      margin-bottom: #{$spacing * 2};
    }

    .stat-description {
      @include p2;
      p {
        margin: 0;
      }
      a {
        @extend .inline-link;
      }
    }

    @include media-md {
      top: 0;
      z-index: 1;
      position: absolute;
      right: #{$spacing * 10};
      padding: #{$spacing * 2};
      width: calc(50% - #{$spacing * 10});

      .stat-figure {
        margin-bottom: 0;
      }
    }
  }
}

// Page-bottom image
.page-bottom-image {
  margin-top: #{$spacing * 4};

  + .next-page-link-block {
    margin-top: 0;
  }

  @include media-md {
    margin-bottom: -#{$spacing * 4};
  }
}

// Stats block
.stats {
  margin-top: -#{$spacing * 2};

  .stat {
    margin: 0;
    padding: 0;
    margin-top: #{$spacing * 2};
  }

  .stat-figure {
    @include h1;
    margin-top: 0;
    margin-bottom: #{($spacing * 2) - baseline('h1') - capline('p1')};
  }

  .stat-description {
    p {
      margin-bottom: 0;
    }
  }

  @include media-md {
    flex-wrap: wrap;
    margin-top: -#{$spacing * 4};

    .stat {
      margin-top: #{$spacing * 4};
      padding-right: #{$spacing * 4};
    }

    .stat-figure {
      margin-bottom: #{($spacing * 2) - baseline('h1-medium') - capline('p1')};
    }
  }
}

// Next Page link that appears at the bottom of a page
.next-page-link-block {
  margin-top: #{$spacing * 8};

  p {
    margin: 0;
    @include h1;
  }

  a {
    @extend .inline-link;
    &::after {
      top: 65%;
      height: 1.1em;
    }
  }

  @include media-md {
    text-align: right;
  }
}