// Section Nav

.section-navigation-wrap {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  // padding: 0 #{$spacing * 2};

  &.stuck {
    z-index: 5;
    width: 100%;
    position: fixed;
  }
  &.bottom-stuck {
    top: auto;
    bottom: 0;
    position: absolute;
  }

  @include media-md {

    .section-navigation {
      width: columns(7);
    }

    .-inner {
      margin: 0 auto;
      max-width: 1400px;
      padding: 0 #{$spacing * 10};
    }

    &.stuck {
      top: 0;
      left: 0;
    }
  }

  @include media-lg {
    top: auto;
    left: auto;
    padding: 0;
    right: auto;
    float: right;
    width: columns(3);
    position: relative;
    @include transition(top);

    .section-navigation {
      width: 100%;
    }

    .-inner {
      padding: 0;
    }

    &.stuck {
      top: auto;

      .section-navigation {      
        float: right;
        width: columns(3);
      } 

      .-inner {
        padding: 0 #{$spacing * 10};
      }
    }
  } 
}

.section-navigation {
  width: 100%;
  color: color(green-dark);
  background-color: color(white);

  h4 {
    margin: 0;
    @include h3;
    line-height: 1;
    min-height: 60px;
    padding: 15px #{$spacing * 2};
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border-top: 1px solid color(green-dark);

      a {
        @include h5;
        display: block;
        line-height: 30px;
        padding: 10px 20px;
        text-decoration: none;
        
        @include hover-style;
      }
    }
  }

  @include media-lg {
    position: relative;
  }
}

// Sticky behavior
.sticky-wrap {
  position: relative;
  padding-top: #{$spacing * 12};

  @include media-md {
    padding-top: 0;
  }
}