// User-entered Content Styles

.user-content {
  h1, h2, h3, h4, h5 {
    @include h3;
    margin-top: #{$spacing * 4};
    margin-bottom: #{$spacing * 2};
  }

  p {
    margin-bottom: 1em;
  }

  // Custom UL styles
  ul {
    padding-left: 0;
    list-style: none;

    li {
      padding-left: 1em;
      position: relative;
      &::before {
        left: 0;
        top: .55em;
        content: '';
        width: 10px;
        height: 10px;
        border: 5px solid;
        position: absolute;
        border-radius: 50%;
        display: inline-block;
      }
    }

    ul {
      padding-left: #{$spacing * 4};
    }
  }
}