<div class="action-dropdown">
  {% for block in entry.actionDropdown.type('dropdownLabel').limit(1).all() %}
    <h4 class="action-dropdown-label">{{ block.label }}</h4>
  {% endfor %}

  <div class="action-dropdown-container">
    <div class="action-dropdown-toggle" data-active-toggle=".action-dropdown-container">
      <div class="null-action">—</div>
      <button><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"/></svg></button>
    </div>

    <ul class="dropdown-actions">
      {% for block in entry.actionDropdown.type('dropdownActions').limit(null).all() %}
      <li><a href="{{ block.internalLink is not empty ? block.internalLink.one().url : block.externalLink }}">{{ block.actionLabel }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>