<div class="action-dropdown">
  {% if entry and quickActions.actionDropdown.dropdownLabel is not empty %}
    <h4 class="action-dropdown-label">{{ quickActions.actionDropdown.dropdownLabel }}</h4>
  {% endif %}

  <div class="action-dropdown-container">
    <div class="action-dropdown-toggle" data-active-toggle=".action-dropdown-container">
      <div class="null-action">--</div>
      <button><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"/></svg></button>
    </div>

    <ul class="dropdown-actions">
      {% for action in quickActions.actionDropdown.dropdownActions.all() %}
      <li><a href="{{ action.internalLink is not empty ? action.internalLink.one().url : action.externalLink }}"{{ action.internalLink is empty ? ' target="_blank"' : '' }}>{{ action.actionLabel }}{{ action.internalLink is empty ? '<svg class="icon icon-link-out"><use xlink:href="#icon-link-out"/></svg>' : '' }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>