<div id="newsletter-signup" class="site-pre-footer">
  <div class="wrap grid right-aligned">
    <div class="med-one-half">
      <h4>Sign up for local sustainibility news.</h4>
      <form id="newsletter-signup-form" action="https://visitor.r20.constantcontact.com/d.jsp" target="_blank">
        <input type="hidden" name="llr" value="eyslxrcab">
        <input type="hidden" name="p" value="oi">
        <input type="hidden" name="m" value="1102254033668">
        <input type="hidden" name="sit" value="wekiqnsdb">
        <input type="hidden" name="f" value="0bf7095d-8453-4f9a-8bad-d5afe6a751c5">
        <div class="input-wrap single-line">        
          <input type="email" name="ea" placeholder="Email address">
          <button class="submit form-cta" type="submit"><span class="show-for-large-up">Subscribe</span><span class="hide-for-large-up"><svg class="icon icon-checkmark"><use xlink:href="#icon-checkmark" /></svg></span></button>
        </div>
      </form>
    </div>
  </div>
</div>

<footer class="site-footer" role="site-info">
  <div class="wrap grid -top">
    <div class="med-one-half">
      <h3 class="coc-logo"><a href="https://www.cityofchicago.org/"><img src="{{ entry is not defined and craft.app.request.getSegment(1) != 'search' ? '/assets/images/coc-logo_404.png' : '/assets/images/coc-logo.png' }}" alt=""><span class="sr-only">City of Chicago</span></a></h3>
    </div>
    <div class="med-one-half">
      {% include '/partials/_footer-nav' %}
    </div>
  </div>

  <div class="wrap grid -bottom">

    <div class="med-one-half med-order-1">
      <div class="footer-content">
        {{ footerContent.simpleContent }}
      </div>
      {% if footerContent.twitterHandle %}
      <p class="twitter-link"><a class="inline-link" href="https://twitter.com/{{ footerContent.twitterHandle }}" target="_blank" rel="noopener">Connect with us on Twitter</a></p>
      {% endif %}
    </div>

    <div class="med-one-half med-order-0">
      {% if footerContent.partners.all()|length %}
      <ul class="partner-list">
        {% for partner in footerContent.partners.all() %}
          {% set image = partner.partnerLogo.one().getUrl() %}
          {% set transformedImage = craft.imager.transformImage(image, { height: 120 }) %}
          <li><a href="{{ partner.partnerLink }}" target="_blank"><img src="{{ transformedImage.getUrl() }}" alt="{{ partner.partnerName }}"></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

  </div>
</footer>

<script src="{{ rev('js/main.js') }}"></script>