<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{% if not craft.app.request.getSegment(1) %}Sustain Chicago{% elseif entry is defined %}{{ entry.title }} | Sustain Chicago{% elseif title is defined %}{{ title }} | Sustain Chicago{% else %}Sustain Chicago{% endif %}</title>
  <link rel="canonical" href="{{ craft.app.request.absoluteUrl }}">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:800,800i|Space+Mono:400,400i,700,700i" rel="stylesheet">

  <meta property="og:site_name" content="Sustain Chicago">
  <meta property="og:title" content="{% if not craft.app.request.getSegment(1) %}Sustain Chicago{% elseif entry is defined %}{{ entry.title }} | Sustain Chicago{% elseif title is defined %}{{ title }} | Sustain Chicago{% else %}Sustain Chicago{% endif %}">
{% if entry['pageDescription'] is defined and entry['pageDescription'] is not empty %}
  <meta name="description" content="{{ entry.pageDescription }}">
  <meta property="og:description" content="{{ entry.pageDescription }}">
{% elseif globalSeoSettings.seoDescription %}
  <meta name="description" content="{{ globalSeoSettings.seoDescription }}">
  <meta property="og:description" content="{{ globalSeoSettings.seoDescription }}">
{% endif %}
{% if entry['pageBanner'] is defined and entry['pageBanner'] is not empty %}
  <meta property="og:image" content="{{ entry.pageBanner.one().bannerImage.one().getUrl() }}">
{% elseif entry['portrait'] is defined and entry['portrait'] is not empty %}
  <meta property="og:image" content="{{ entry.portrait.one().getUrl() }}">
{% elseif globalSeoSettings.seoDefaultShareImage %}
  <meta property="og:image" content="{{ globalSeoSettings.seoDefaultShareImage.one().getUrl() }}">
{% endif %}


  <link rel="stylesheet" href="{{ rev('css/main.css') }}">
  <link rel="shortcut icon" type="image/ico" href="{{ '/assets/images/favicon.png' }}">
  <!-- <script src="{{ rev('js/modernizr.custom.js') }}"></script> -->

  <!-- Inject SVGs Defs for SVG icon use -->
  <script>
    var ajax = new XMLHttpRequest();
    ajax.open("GET", "{{ rev('svgs-defs.svg') }}", true);
    ajax.send();
    ajax.onload = function(e) {
      var div = document.createElement("div");
      div.className += "svg-defs hidden";
      div.innerHTML = ajax.responseText;
      document.body.insertBefore(div, document.body.childNodes[0]);
    }
  </script>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125630946-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125630946-1');
  </script>
</head>
