{% set mainEntries = craft.entries.section('navigation').slug('main').one().children().level(2) %}
{% set utilityEntries = craft.entries.section('navigation').slug('utility').one().children().level(2) %}
{% set languages = {eng: 'English', esp: 'Español', chinese: '简体中文', pol: 'Polski', arabic: 'عربي'} %}
{% if craft.request.getParam('lang') is not empty %}
  {% set currentLanguageCode = craft.request.getParam('lang') %}
  {% set currentLanguageTitle = attribute(languages, currentLanguageCode) %}
{% else %}
  {% set currentLanguageTitle = 'English' %}
{% endif %}

<nav class="site-nav-main site-nav">

  <ul>

    <div class="nav-main nav-top-level">
      {% nav item in mainEntries.all() %}
        {% set mappedEntry = item.mappedEntry.one() %}
        {% set mappedEntryChildren = mappedEntry.children().level(2) %}
        <li>
          {% if mappedEntryChildren|length %}
          <div class="nav-parent-label{{ entry is defined and craft.app.request.getSegment(1) == mappedEntry.slug ? ' -current' : '' }}" data-active-toggle>{{ mappedEntry.title }}<span class="expand-contract" aria-hidden="true"></span></div>
          <ul class="nav-sub-level">
            {% for child in mappedEntryChildren.all() %}
              <li><a href="{{ child.url }}"{{ entry is defined and entry.slug == child.slug or craft.app.request.getSegment(2) == child.slug ? ' class="-current"' : '' }}>{{ child.title }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          <a href="{{ mappedEntry.url }}">{{ mappedEntry.title }}</a>
          {% endif %}
        </li>
      {% endnav %}

      <button class="search-toggle" data-active-toggle="#header-search-form"><svg class="icon icon-search"><use xlink:href="#icon-search" /></svg><svg class="icon icon-close"><use xlink:href="#icon-close"/></svg></button>
    </div>

    <div class="nav-utility">
      <div class="wrap nav-top-level">
        {% nav item in utilityEntries.all() %}
          {% set mappedEntry = item.mappedEntry.one() %}
          <li><a href="{{ mappedEntry.url }}"{{ entry is defined and entry.slug == mappedEntry.slug ? ' class="-current"' : '' }}>{{ mappedEntry.title }}</a></li>
        {% endnav %}
        <li id="site-language-select" class="site-language-select">
          <div class="nav-parent-label" data-active-toggle>Language: <span class="current-language">{{ currentSite.name }}</span><span class="expand-contract" aria-hidden="true"><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"/></svg></span></div>
          <ul class="nav-sub-level">
            {% for language in craft.app.sites.getAllSites() %}
              <li{{ currentSite.name == language.name ? ' class="-active"' : '' }}><a href="{{ language.baseUrl }}{% for segment in craft.app.request.getSegments() %}{{ segment }}/{% endfor %}{{ craft.app.request.getParam('q') is not empty ? '?q=' ~ craft.app.request.getParam('q') : '' }}">{{ language.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </div>
    </div>

  </ul>

  <div class="header-search-wrap">
    <div id="header-search-form">
      {% include "partials/_search-form" with { 'query': '' } %}
    </div>
  </div>

</nav>

<button class="nav-toggle" data-active-toggle=".site-nav-main"><svg class="icon icon-hamburger"><use xlink:href="#icon-hamburger" /></svg><svg class="icon icon-close"><use xlink:href="#icon-close" /></svg></button>