{% if entry['pageBanner'] is defined and entry['pageBanner'] is not empty %}
  <div class="page-banner wrap">
    <div class="banner-image-carousel">    
      {% for pageBanner in entry.pageBanner.all() %}
        {% set bannerImage = craft.imager.transformImage(pageBanner.bannerImage.one(), { width: 1400, position: pageBanner.bannerImage.one().getFocalPoint(), effects: { colorBlend: ['rgb(255, 255, 255)', 0.15], clut: 'gradient:rgba(22,59,55,.45)-rgba(226,232,234,.4)' } }) %}
        <div class="banner-image flickity-item" data-flickity-bg-lazyload="{{ bannerImage.getUrl() }}"></div>
      {% endfor %}
    </div>
    <div class="banner-text-container{{ entry.pageBanner.all()|length > 1 ? ' with-nav' : '' }}">
      {% if entry.pageBanner.all()|length > 1 %}
      <div class="page-banner-nav">
        <button class="previous"><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"/></svg></button>
        <button class="next"><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"/></svg></button>
      </div>
      {% endif %}

      {% set noText = true %}

      {% for pageBanner in entry.pageBanner.all() %}
        {% if pageBanner.imageTitle is not empty or pageBanner.imageCaption is not empty %}
          {% set noText = false %}
        {% endif %}
      {% endfor %}
      
      {% if noText == false %}
        <div class="banner-text-carousel">    
          {% for pageBanner in entry.pageBanner.all() %}
            <div class="banner-text flickity-item">      
              {% if pageBanner.imageTitle %}
              <h4 class="banner-title">{{ pageBanner.imageTitle }}</h4>
              {% endif %}
              {% if pageBanner.imageCaption %}
              <p>{{ pageBanner.imageCaption }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
{% endif %}

<div class="wrap clearfix">  
  <div class="page-header{{ entry['pageBanner'] is not defined or entry['pageBanner'] is empty ? ' no-pagebanner' : '' }}">
    <div class="-inner">
      {% if entry is defined %}
        {% include 'partials/_breadcrumbs' %}
      {% elseif craft.app.request.getSegment(1) == 'search' %}
        <h5 class="page-subheader">Search Results</h4>
      {% endif %}
      <h1 class="page-title">
        {% if entry['alternateHeadline'] is defined and entry['alternateHeadline'] is not empty %}
         {{ entry.alternateHeadline|nl2br }}
        {% elseif entry is defined %}
         {% block pageTitlePrefix %}{% endblock %}{{ entry.title }}
        {% elseif craft.app.request.getSegment(1) == 'search' %}
          {% set query = craft.app.request.getParam('q') %}
          {% set results = craft.entries().search(query).orderBy('score') %}
          {{ results|length }} result{{ results|length > 1 ? "s" : "" }} found for “{{ query }}”
        {% endif %}
      </h1>
      {% if entry['pageIntro'] is defined and entry['pageIntro'] is not empty %}
        <div class="page-intro user-content">
          {{ entry.pageIntro.pageIntroText }}

            {% for link in entry.pageIntro.pageIntroLink.all() %}
              {% if link.type == 'internalLink' %}
                {% set linkUrl = link.internalLink.url %}
              {% elseif link.type == 'externalLink' %}
                {% set linkUrl = link.externalLink %}
              {% endif %}
              <div class="link-block">
                <p><a href="{{ linkUrl }}">{{ link.linkText }}</a></p>
              </div>
            {% endfor %}

          {% if entry.type == 'focusArea' %}
            <div class="link-block">
              <p><a href="/around-chicago/our-goals/#{{ entry.slug }}">Our goals: {{ entry.title }}</a></p>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>