{% if entry.ancestors|length %}
  {% set subtitle = entry.parent.title %}
{% elseif entry['pageSubtitle'] is defined and entry['pageSubtitle'] is not empty %}
  {% set subtitle = entry.pageSubtitle %}
{% endif %}

{% if entry.pageBanner is not defined and entry.pageBanner.all()|length %}
<div class="page-banner wrap">
  <div class="banner-image-carousel">    
    {% for pageBanner in entry.pageBanner.all() %}
      {% set bannerImage = craft.imager.transformImage(pageBanner.bannerImage.one, { width: 1400, effects: { colorBlend: ['rgb(255, 255, 255)', 0.15], clut: 'gradient:rgba(22,59,55,.45)-rgba(226,232,234,.4)' } }) %}
      <div class="banner-image flickity-item" data-flickity-bg-lazyload="{{ bannerImage.getUrl() }}"></div>
    {% endfor %}
  </div>
  <div class="banner-text-container">
    {% if entry.pageBanner.all|length > 1 %}
    <div class="page-banner-nav">
      <button class="previous"><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"/></svg></button>
      <button class="next"><svg class="icon icon-arrow"><use xlink:href="#icon-arrow"/></svg></button>
    </div>
    {% endif %}
    <div class="banner-text-carousel">    
      {% for pageBanner in entry.pageBanner.all() %}
        <div class="banner-text flickity-item">      
          {% if pageBanner.imageTitle %}
          <h4 class="banner-title">{{ pageBanner.imageTitle }}</h4>
          {% endif %}
          {% if pageBanner.imageCaption %}
          <p>{{ pageBanner.imageCaption }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<div class="wrap">  
  <div class="page-header">
    {% if subtitle is defined %}
    <h4 class="page-subtitle">{{ subtitle }}</h4>
    {% endif %}
    <h1 class="page-title">
      {% if entry['alternateHeadline'] is defined and entry['alternateHeadline'] is not empty %}
       {{ entry.alternateHeadline|nl2br }}
      {% else %}
       {{ entry.title }}
      {% endif %}
    </h1>
  </div>
</div>