{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block pageClass %}project-modal{% endblock %}

{% set colors = ['theme-dark', 'theme-light', 'theme-white'] %}

{% set focusAreas = craft.entries.section('focusAreas').level(2).all() %}
{% set projects = entry.children().all() %}

{% block content %}

  <div class="page-main-content wrap -extended clearfix sticky-wrap">

    <div class="section-navigation-wrap -right sticky">
      <div class="-inner">
        <nav class="section-navigation accordion"></nav>
      </div>
    </div>

    <div class="focus-areas cards-stacked card-grid-container column-primary -left">

      {% for focusArea in focusAreas %}
        {% set relatedProjects =  entry.children().relatedTo(focusArea).all() %}

        {% if relatedProjects|length %}

          {% set colorIndex = loop.index - 1 %}
          {% if colorIndex > colors|length - 1 %} 
            {% set colorIndex = colorIndex % colors|length %}
          {% endif %}

          <div id="{{ focusArea.slug }}" class="project-category section card alt-size -full {{ colors[colorIndex] }}" data-section-title="{{ focusArea.title }}">
            <div class="card-header">
              <h3 class="card-title">{{ focusArea.title }}</h3>
            </div>
            <div class="card-links">
              <ul>
                {% for project in relatedProjects %}
                  <li id="{{ project.slug }}"><a href="{{ project.projectUrl }}" target="_blank">{{ project.title }}{{ project.communityProject == 1 ? '<svg class="icon icon-star"><use xlink:href="#icon-star"/></svg>' : '' }}<svg class="icon icon-link-out"><use xlink:href="#icon-link-out"/></svg></a></li>
                {% endfor %}
              </ul>
            </div>
              
            {% if entry.children().relatedTo(focusArea).search('featured:1').all()|length %}
              <div class="card-bottom">
              {% include "partials/_featured-projects" with { 'featuredProjects' : entry.children().relatedTo(focusArea).search('featured:1') } %}
              </div>
            {% endif %}
          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>

{% endblock %}