// Mixins

// Ye olde clearfix
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Smooth text
@mixin smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Aspect ratio padding mixin (e.g. @include aspect-ratio(192,180);)
@mixin aspect-ratio($width, $height) {
  display: block;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 0;
  padding-top: #{$height / $width * 100%}; // aspect ratio
}

/// Vertical-spacing mixin used to define vertical spacing responsivley
/// @param {string} $side - 'top', 'bottom', or 'both', which side the spacing is on
/// @param {string} $amount ['single] - 'single', 'double', or 'triple' (the amount of $spacing)
/// @param {string} $type ['margin'] - 'margin' or 'padding'
/// @require {variable} $spacing
/// @example scss - Single multiple of global-spacing margin below
///   @include vertical-spacing('bottom', 'single')
///   // returns `margin-bottom: 48px;`
@mixin vertical-spacing($side, $amount: 'single', $type: 'margin') {
    $small-spacing: $spacing;
    $medium-spacing: $spacing;

    @if $amount == 'double' {
        $medium-spacing: #{$spacing * 2};
    } @else if $amount == 'triple' {
        $small-spacing: #{$spacing * 1.5};
        $medium-spacing: #{$spacing * 3};
    } @else if $amount == 'quadruple' {
        $small-spacing: #{$spacing * 2};
        $medium-spacing: #{$spacing * 4};
    }

    @if $side == 'top' or $side == 'both' {
        #{$type}-top: $small-spacing;
        @include breakpoint(medium) {
            #{$type}-top: $spacing;
        }
    }
    @if $side == 'bottom' or $side == 'both' {
        #{$type}-bottom: $small-spacing;
        @include breakpoint(medium) {
            #{$type}-bottom: $spacing;
        }
    }
}

// Responsive mixins by Andy Richardson (@andimal): https://github.com/andimal/sass-responsive-mixin-madness
@mixin media-xs() {
  @media screen and (max-width: $breakpoint-sm - 1) {
    @content;
  }
}
@mixin media-sm() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin media-md() {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin media-lg() {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin media-nav() {
  @media screen and (min-width: $breakpoint-nav) {
    @content;
  }
}
@mixin media-xl() {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

// On-the fly media-queries
@mixin screen($res-min, $res-max) {
  @media screen and (min-width: $res-min) and (max-width: $res-max) {
    @content;
  }
}
@mixin max-screen($res) {
  @media screen and (max-width: $res - 1px) {
    @content;
  }
}
@mixin min-screen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

// Global UI Transition
@mixin transition($properties...) {
  transition-duration: $transition;
  transition-property: $properties;
  transition-timing-function: ease-out;
}

// Hover State Mixin
@mixin hover-style() {
  cursor: pointer;
  position: relative;
  outline: 0 solid transparent;
  box-shadow: 0 0 0 0 transparent;
  @include transition(background, outline-width, color, box-shadow);

  svg {
    @include transition(fill);
  }
  
  &:hover {  
    z-index: 2;
    outline-offset: 0;
    color: color(white);
    box-shadow: $box-shadow-hover;
    background-color: color(blue);
    outline: 10px solid color(blue);
    svg {
      fill: color(white);
    }
  }
}