// Typography

@font-face {
  font-family: 'gt-sectra-regular';
  src: url('/assets/fonts/gt-sectra-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/gt-sectra-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gt-sectra-regular';
  src: url('/assets/fonts/gt-sectra-regular-italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/gt-sectra-regular-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'gt-sectra-regular';
  src: url('/assets/fonts/gt-sectra-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/gt-sectra-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'gt-sectra-regular';
  src: url('/assets/fonts/gt-sectra-bold-italic-webfont.woff2') format('woff2'),
       url('/assets/fonts/gt-sectra-bold-italic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

// Fonts
$font-display: 'Space Mono', monospace;
$font-header: 'gt-sectra-regular', serif;
$font-regular: 'gt-sectra-regular', serif;

@mixin type-display {
  font: 16px/1.375 $font-display;
  @include smooth;
}
@mixin type-subhead {
  text-transform: uppercase;
  font: bold 16px/1.375 $font-display;
  letter-spacing: .1em;
  @include smooth;
}

h1,h2,h3,h4 {
  @include smooth;
}

ul,
ol,
p {
  font: 18px/1.388888889 $font-regular;
  margin: 0 0 grid(4);
}


h1,
.h1 {
  font: 35px/1.2 $font-header;
  margin: 0 0 grid(2);

  @include media-md {
    font: 60px/1.166666667 $font-header;
  }
}

h2,
.h2 {
	font: 25px/1.4 $font-header;

  @include media-md {
    font: 40px/1.25 $font-header;
  }
}

h3,
.h3 {
  font: 20px/1.75 $font-header;

  @include media-md {
    font: 30px/1.5 $font-header;
  }
}

h4,
.h4 {
	font: bold 16px/1.5625 $font-display;
  &.subhead {
    @include type-subhead;
    span {
      color: $red;
    }
  }
}
