// Utility classes
.hidden {
  display: none;
}

// Visually hide, accessibility-friendly
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.clearfix,
.cf {
  @include clearfix;
}

// Visibility classes (borrowing nomenclature from Foundation)
.show-for-medium-up {
  display: none;
  @include media-md {
    display: block;
    &.-inline {
      display: inline-block;
    }
  }
}

.hide-for-medium-up {
  @include media-md {
    display: none !important;
  }
}

.show-for-large-up {
  display: none;
  @include media-lg {
    display: block;
    &.-inline {
      display: inline-block;
    }
  }
}

.hide-for-large-up {
  @include media-lg {
    display: none !important;
  }
}

// Containers with paragraphs that should be top-margined
.top-margin-paras {
  p {
    margin: 1em 0 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

// Semantic List
.semantic-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li::before {
    margin: 0;
    width: auto;
    border: none;
    height: auto;
    display: none;
    border-radius: 0;
    position: static;
  }
}

// Transitions-disabled
.no-transitions {
  transition: none;
}

// Utility Style classes
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}