// Colors
$black: #241f21;
$white: #fff;
$red: #ff6e5c;
$orange: #bdb83d;
$blue: #d1edfc;
$blue2: #b4e3fd;
$blue3: #AFE3FE;
$dk-blue: #00a3f0;
$gray: #f5f2ed;
$gray2: #efebe7;
$dk-gray: #918f90;

// Secondary
$blue2: #b0e3ff;
$dk-orange: #a2a132;
$red2: #ff594b;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 975px;
$breakpoint-xl: 1200px;
$breakpoint-nav: 950px;

// Easings
$slide-easing: cubic-bezier(0.65, 0, 0.35, 1);
