@charset "UTF-8";

// Normalize styles
@import "helpers/normalize";

// Helpers and Variables
@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/grid";
@import "helpers/colors";
@import "helpers/typography";
@import "helpers/utility";

// Vendor

// Components
@import "components/base";
@import "components/ui-components";
@import "components/images";
@import "components/forms";
@import "components/cards";
@import "components/page-blocks";
@import "components/flickity";
@import "components/accordions";
@import "components/header";
@import "components/footer";
@import "components/page-banner";
@import "components/section-nav";
@import "components/priorities-showcase";

// Pages
@import "pages/home";