// Base Styles

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include p1;
  overflow-x: hidden;
  color: color(green-dark);
  background-color: color(blue-light);
}

.wrap {
  margin: 0 auto;
  max-width: $global-wrap;
  padding-left: #{$spacing * 2};
  padding-right: #{$spacing * 2};

  &.-extended {
    padding-left: 0;
    padding-right: 0;
    max-width: $global-wrap;
  }

  @include media-md {
    &, &.-extended {
      padding-left: #{$spacing * 10};
      padding-right: #{$spacing * 10};
    }
  }
}

.page-main-content {
  z-index: 1;
  position: relative;
}

.site-main {
  padding-bottom: #{$spacing * 8};
  background-color: color(blue-light);
}

a {
  color: inherit;
}

// Custom UL styles
ul {
  padding-left: 0;
  list-style: none;

  li {
    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border: 5px solid;
      position: relative;
      border-radius: 50%;
      margin-right: .5em;
      display: inline-block;
    }
  }
}