// Cards

.card {
  width: 100%;
  display: flex;
  min-height: 200px;
  position: relative;
  flex-direction: column;
  fill: color(green-dark);
  background-color: color(white);
  outline: 1px solid color(blue-light);
  outline-offset: -1px;
  padding: #{$spacing * 2};

  .icon {
    transition: fill .1s ease-out;
  }

  @include media-md {

    &:not(.med-one-fourth, .-full) {
      max-width: 50%;
      flex-basis: 50%;
    }
  }

  &-header {
    h1,h2,h3,h4 {
      margin: 0;
    }

    &.with-action {
      display: flex;

      .card-title {
        flex-grow: 1;
        padding-right: #{$spacing * 2};
      }
    }

    .header-action {
      display: flex;
      margin-bottom: 0;
      flex-direction: column;
      justify-content: flex-end;

      a {
        @include h4;
        color: inherit;
        line-height: 1;
        @extend .inline-link;
        @include fontweight-bold;
      }
      .icon {
        width: 20px;
        height: 20px;
        bottom: -2px;
        fill: inherit;
        position: relative;
        margin-left: #{$spacing * 2};
      }
    }

    + .card-content,
    + .card-links,
    + .card-action {
      margin-top: #{($spacing * 5) - capline('p1') - baseline('h3')};
    }
  }

  &-tag {
    @include h5;
    margin-bottom: 0;
  }

  &-title {
    @include h2;
    margin-top: 0;

    a {
      text-decoration: none;
    }

    &.-small {
      @include h3;
    }
  }

  &-content,
  &-description,
  &-links,
  &-action {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }

  &-content {
    ul, ol {
      margin: 0;
      padding: 0;
    }

    a {
      @extend .inline-link;
    }

    + .card-action {
      margin-top: $spacing;
    }
  }

  &-description {
    margin-top: #{$spacing * 5};

    @include media-md {
      margin-top: #{$spacing * 13};
    }
  }

  &-links {
    ul, ol {
      @extend .semantic-list;
    }

    li {
      margin-top: 5px;
      &:first-of-type {
        margin-top: 0;
      }
    }

    a {
      @include h4;
      position: relative;
      vertical-align: top;
      @extend .inline-link;
      @include fontweight-bold;
    }
  }

  &-action {
    width: 100%;
    margin-bottom: 0;

    a {
      width: 100%;
      @include h4;
      @include fontweight-bold;
    }

    &.social-links {
      a {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-left: #{$spacing * 2};
        outline: 5px solid transparent;
        @include transition(background-color, outline);
        &:first-of-type {
          margin-left: 0;
        }

        .icon {
          vertical-align: top;
          @include transition(fill);
        }

        &:hover,
        &:focus,
        &:active {
          fill: color(white);
          color: color(white);
        }
      }
    }
  }

  &-links,
  &-action {
    .icon {
      width: 20px;
      height: 20px;
      bottom: -2px;
      fill: inherit;
      position: relative;
      margin-left: #{$spacing * 2};
    }
  }

  // Card Variations
  &.-small,
  .-small {
    .card-title {
      @include h3;
    }
  }

  &.stat {
    .stat-figure {
      @include h1;
      margin: 0 0 $spacing;
    }

    &.-small {
      .stat-figure {
        @include h2;
      }
    }
  }

  // Split with image
  &.-split {

    .split-container {

      &.-image {
        height: 0;
        padding-bottom: 50%;
        background-size: cover;
        background-position: center;
        width: calc(100% + #{$spacing * 4});
        margin: #{$spacing * 2} 0 -#{$spacing * 2} -#{$spacing * 2};
      }

    }

    @include media-md {
      flex-direction: row;

      .split-container {      
        max-width: 50%;
        flex-basis: 50%;

        &:first-of-type {
          display: flex;
          flex-direction: column;
          padding-right: #{$spacing * 2};
        }

        &.-image {
          padding: 0;
          height: auto;
          max-width: none;
          width: calc(50% + #{$spacing * 2});
          flex-basis: calc(50% + #{$spacing * 2});
          margin: -#{$spacing * 2} -#{$spacing * 2} -#{$spacing * 2} 0;
        }
      }
    }
  }

  .card-image {
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center center;
    width: calc(100% + #{$spacing * 4});
    margin: #{$spacing * 2} 0 -#{$spacing * 2} -#{$spacing * 2};
  }

  // Content placed at the bottom of a card
  .card-bottom {

    // Featured Projects
    .featured-projects {
      margin-top: #{$spacing * 2};

      &::before {
        top: 0;
        z-index: 1;
        height: 1px;
        content: '';
        position: absolute;
        border-top: 1px solid;
        left: #{$spacing * 2};
        right: #{$spacing * 2};
      }
    }
  }

  // Featured Projects
  .featured-projects {
    left: -#{$spacing * 2};
    margin: 0 0 -#{$spacing * 2};
    width: calc(100% + #{$spacing * 4});    
  }

  // Color Variations
  &.theme-dark {
    @extend .theme-dark;

    &, .card {
      outline: 0 solid transparent;
    }
  }

  &.theme-light {
    @extend .theme-light;

    &, .card {
      outline: 0 solid transparent;
    }
  }

  &.theme-white {
    @extend .theme-white;
  }

  // Hover State
  &.-hover {
    @include hover-style;
  }

}

// Stacked Cards
.cards-stacked {
  > .card {
    margin-top: #{$spacing * 4};

    &:first-of-type {
      margin-top: 0;
    }
  }

  @include media-md {
    margin-bottom: -#{$spacing * 12};
  }
}
