// Footer Styles

.site-pre-footer {
  @extend .background-green-dark;
  padding: #{$spacing * 5} 0;

  h4 {
    @include h5;
    margin-bottom: $spacing;
    @extend .color-green-light;

    @include media-md {
      padding-left: #{$spacing * 2};
    }
  }
}

.site-footer {
  @include smooth;
  @extend .color-white;
  @extend .background-black;
  padding: #{$spacing * 3.5} 0 #{$spacing * 8};

  @include media-md {
    padding: #{$spacing * 4.5} 0 #{$spacing * 12};
  }

  .coc-logo {
    width: 100%;
    max-width: 250px;
    margin: 0 0 #{$spacing * 4};

    a {
      max-width: 250px;
      vertical-align: top;
      display: inline-block;

      img {
        max-width: 100%;
      }
    }

    @include media-md {
      margin-bottom: 0;
    }
  }

  .footer-content {
    @include p2;
    margin-bottom: #{($spacing * 3.5) - capline('h5')};

    @include media-md {
      margin-bottom: #{($spacing * 4) - capline('h5')};
    }
  }

  .twitter-link {
    margin-bottom: #{$spacing * 4};

    a {
      @include h5;
      @include fontweight-bold;
      color: color(green-light);
    }
  }

}

.site-nav-footer {
  @extend .semantic-list;
  margin-bottom: #{($spacing * 16) - capline('p2')};

  li {
    margin-top: #{$spacing * 2};

    &:first-of-type {
      margin-top: 0;
    }
  }

  a {
    @include h5;
    color: color(green-light);

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  @include media-md {
    margin-top: 19px;
    margin-bottom: #{($spacing * 9) - capline('p2')};

    li {
      margin-top: 0;
      display: inline-block;
      margin-left: #{$spacing * 3};

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.partner-list {
  @extend .semantic-list;

  li {
    height: 60px;
    display: inline-block;
    margin: 0 0 #{$spacing * 2} #{$spacing * 2};
    &:first-of-type {
      margin-left: 0;
    }

    a {
      height: 100%;
      display: inline-block;
    }

    img {
      height: 100%;
      max-width: 100%;
    }
  }

  @include media-md {
    margin-top: #{$spacing * 11};
  }
}