// Image Styles

.background-image {
  position: relative;
  margin-left: -#{$spacing * 2};
  width: calc(100% + #{$spacing * 4});

  @include media-md {
    margin-left: -#{$spacing * 10};
    width: calc(100% + #{$spacing * 20});
  }

  img {
    width: 100%;
    max-width: 100%;
    vertical-align: top;
  }

  &::before,
  &::after {
    left: 0;
    height: 25%;
    width: 100%;
    content: '';
    position: absolute;
  }

  &::before {
    top: -1px;
    background: linear-gradient(to bottom, rgba(color(blue-light),1), rgba(color(blue-light),0));
  }

  &::after {
    bottom: -1px;
    background: linear-gradient(to top, rgba(color(blue-light),1), rgba(color(blue-light),0));
  }
}