// Page Blocks

// Page Section Titles
.page-section {
  @include h2;
  margin: #{$spacing * 8} 0 #{$spacing * 4};
}

// Text Block
.text-block {
  a {
    @extend .inline-link;
  }
}

// Link Blocks
.link-block {
  a {
    @include type-link;
    @extend .inline-link;

    &::after {
      content: ' >';
    }
  }
}

// Image Blocks
.image-block {
  padding: 0;
  position: relative;
  margin: #{$spacing * 8} 0;

  img {
    max-width: 100%;
    vertical-align: bottom;
  }

  .caption {
    margin: 0;
    @include p2;
    padding-top: $spacing;
  }

  @include media-md {
    @include clearfix();

    img {
      width: calc(#{columns(9)} + #{$spacing});
    }

    .caption {
      float: right;
      padding-top: 0;
      padding-left: #{$spacing * 2};
      width: calc(#{columns(3)} - #{$spacing});
    }
  }
}

// Image with quote
.image-with-quote {
  blockquote {
    margin: 0;

    .quote {
      margin: 0;
      @include h3;
    }
    footer {
      line-height: 1;
      margin-top: #{$spacing * 2};
    }
    cite {
      @include p2;
      vertical-align: top;
    }
  }

  @include media-md {
    blockquote {
      right: 0;
      top: -1px;
      width: 50%;
      position: absolute;
      background-color: color(blue-light);
      padding: 1px 0 #{$spacing * 2} #{$spacing * 2};
    }
  }
}

// Image with stat
.image-with-stat {
  .stat {
    @include clearfix;

    > * {
      float: left;
    }
  }

  h5 {
    margin: 0;
    @include h1;
    margin-bottom: -100%;
    display: inline-block;
    transform: translateY(-100%);
    background-color: color(blue-light);
    padding: #{$spacing * 2} #{$spacing * 2} 0 0;
  }

  .stat-description {
    @include p2;
    padding-top: #{$spacing * 2};
  }
  
  @include media-md {
    .stat {
      right: 0;
      top: -1px;
      position: absolute;

      > * {
        float: right;
      }

      h5 {
        margin: 0;
        float: right;
        transform: none;
        padding: 0 0 #{$spacing * 2} .01em;
      }

      .stat-description {
        float: right;
        clear: right;
        padding-top: 0;
        text-align: left;
        padding-left: #{$spacing * 2};
        width: calc(#{columns(3)} - #{$spacing});
      }
    }
  }
}

// Background Image with Stat (As seen on the homepage)
.background-image-with-stat  {
  margin: 0;
  position: relative;

  + .block {
    margin-top: #{$spacing * 4};
  }

  @include media-md {
    margin-top: #{$spacing * 6};
    padding-top: #{$spacing * 10};

    + .block {
      margin-top: -#{$spacing * 16};
    }

  }

  .stat {
    margin: 0;
    padding: #{$spacing * 2} 0;
    background-color: color(blue-light);
    
    h5 {
      @include type-stat;
      margin-bottom: #{$spacing * 2};
    }

    .stat-description {
      @include p2;
      p {
        margin: 0;
      }
      a {
        @extend .inline-link;
      }
    }

    @include media-md {
      top: 0;
      right: 0;
      z-index: 1;
      width: 50%;
      position: absolute;
      padding: #{$spacing * 2};

      h5 {
        margin-bottom: 0;
      }
    }
  }
}

// The Background Image at the bottom of a page
.page-bottom-image {
  @include media-md {
    margin-top: -#{$spacing * 13};
    margin-bottom: -#{$spacing * 8};
  }
}

// Next Page link that appears at the bottom of a page
.next-page-link-block {
  margin-top: #{$spacing * 8};

  p {
    margin: 0;
    @include h1;
  }

  a {
    @extend .inline-link;
    &::after {
      top: 65%;
      height: 1.1em;
    }
  }

  @include media-md {
    text-align: right;
  }
}