// Section Nav

.section-navigation-wrap {
  top: 0;
  left: 0;
  position: absolute;

  &.stuck {
    z-index: 5;
    width: 100%;
    position: fixed;
  }
  &.bottom-stuck {
    top: auto;
    bottom: 0;
    position: absolute;
  }

  @include media-md {
    top: auto;
    left: auto;
    float: right;
    position: relative;

    &.stuck {
      top: 0;
      left: 0;
      z-index: 0;

      .-inner {
        margin: 0 auto;
        max-width: 1400px;
        padding: 0 #{$spacing * 10};
      }

      .section-navigation {      
        float: right;
        width: columns(3);
      } 
    }
  } 
}

.section-navigation {
  width: 100%;
  color: color(green-dark);
  background-color: color(white);

  h4 {
    margin: 0;
    @include h3;
    line-height: 1;
    min-height: 60px;
    padding: 15px #{$spacing * 2};
  }

  .accordion-toggle {

    @include media-md {
      pointer-events: none;
      padding-right: #{$spacing * 2};

      .expand-contract {
        display: none;
      }
    }
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border-top: 1px solid color(green-dark);

      a {
        @include h4;
        display: block;
        min-height: 60px;
        line-height: 30px;
        padding: 15px 20px;
        text-decoration: none;
        
        @include hover-style;
      }
    }
  }

  @include media-md {
    position: relative;
  }

  @media screen and (min-width: $breakpoint-md) and (max-height: 760px) {
    ol {
      li {
        a {
          @include h5;
          min-height: 0;
          padding: 10px 20px;
        }
      }
    }
  }
}

// Sticky behavior
.sticky-wrap {
  z-index: 2;
  padding-top: 60px;
  position: relative;

  @include media-md {
    padding-top: 0;
  }
}