// Common UI Components

.expand-contract {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    top: 9px;
    right: 0;
    width: 20px;
    content: '';
    height: 2px;
    position: absolute;
    border-top: 2px solid;
    @include transition(transform);
  }

  &::after {
    transform: rotate(-90deg);
    transform-origin: center;
  }

  &.-active {
    &::after {
      transform: none;
    }
  }
}

// Inline link styles
.inline-link {
  z-index: 1;
  position: relative;
  display: inline-block;
  &::after {
    top: 50%;
    z-index: -1;
    content: '';
    left: -.25em;
    right: -.2em;
    height: 1.5em;
    position: absolute;
    transform-origin: left;
    background-color: color(blue);
    @include transition(transform);
    transform: scaleX(0) translateY(-50%);
  }

  &:hover,
  &:focus {
    fill: color(white)!important;
    color: color(white)!important;

    &::after {
      transform: scaleX(1) translateY(-50%);
    }
  }
}

// Acdtion Dropdown
.action-dropdown {
  z-index: 2;
  position: relative;
  padding: #{$spacing * 2};
  background-color: color(green-light);

  @include media-md {
    display: flex;
    align-items: flex-start;
    padding-bottom: #{$spacing * 7.5};
  }

  .action-dropdown-label {
    @include h2;
    color: color(green-dark);
    margin: 0 0 #{$spacing * 2};

    @include media-md {
      margin-bottom: 0;
      line-height: 55px;
      white-space: nowrap;
      margin-right: #{$spacing * 2};
    }
  }

  .action-dropdown-container {
    width: 100%;
    position: relative;

    .action-dropdown-toggle {
      width: 100%;
      height: 55px;
      cursor: pointer;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
      box-shadow: $box-shadow;
      background-color: color(white);
      @include transition(box-shadow);

      &:hover,
      &:focus {
        box-shadow: 0 0 0 5px color(blue);
        button {
          fill: color(white);
          background-color: color(blue);
        }
      }

      .null-action {
        line-height: 55px;
        padding-left: #{$spacing * 2};
      }

      button {
        top: 0;
        right: 0;
        width: 55px;
        height: 55px;
        border: none;
        display: flex;
        position: absolute;
        fill: color(green-light);
        border-radius: 0 5px 5px 0;
        background-color: color(green-dark);
        @include transition(fill, background-color);

        &:hover {
          fill: color(white);
          background-color: color(blue);
        }

        &:focus {
          outline: none;
        }

        .icon {
          width: 20px;
          height: 20px;
          margin: auto;
          fill: inherit;
          transform: rotate(90deg);
          @include transition(transform);
        }
      }
    }

    .dropdown-actions {
      left: 0;
      top: 100%;
      width: 100%;
      display: none;
      position: absolute;
      @extend .semantic-list;
      box-shadow: $box-shadow;
      border-radius: 0 0 5px 5px;
      background-color: color(white);

      a {
        display: block;
        text-decoration: none;
        padding: $spacing #{$spacing * 2};
        @include hover-style;
      }
    }

    // Active state
    &.-active {

      .action-dropdown-toggle {
        border-radius: 5px 5px 0 0;

        &::before,
        &::after {
          bottom: 0;
          content: '';
          position: absolute;
          pointer-events: none;
        }

        &::before {
          left: 0;
          z-index: 1;
          right: 55px;
          height: 10px;
          background-color: color(white);
        }

        &::after {
          z-index: 2;
          height: 1px;
          right: $spacing;
          left: #{$spacing * 2};
          background-color: color(blue);
        }

        button {
          fill: color(white);
          background-color: color(blue);

          .icon {
            transform: rotate(-90deg);
          }
        }
      }

      .dropdown-actions {
        display: block;
      }
    }
  }

}