<figure class="background-image-block with-stat block{{ blockClass is defined ? ' ' ~ blockClass : '' }}">
  <figcaption class="stat">
    <h5 class="stat-figure">{{ block.statFigure }}</h5>
    <div class="stat-description">{{ block.statDescription }}</div>
  </figcaption>

  <div class="background-image">
    {% set image = block.image.one() %}
    {% set transformedImage = craft.imager.transformImage(image, {
      width: 1400,
      ratio: 7/3,
      position: image.getFocalPoint(),
      effects: { modulate: [100, 0, 100], clut: 'gradient:#163B37-#E2E8EA' }
    }) %}
    <img src="{{ transformedImage.getUrl() }}" alt="{{ image.title }}">
  </div>
</figure>