{% set isExternalResult = result.getSection() == 'External Search Results' %}

{% if isExternalResult %}
  {% set resultUrl = result.externalUrl %}
{% else %}
    {% set resultUrl = result.url %}
{% endif %}

<article class="search-article">
  <h3 class="result-title"><a class="inline-link" href="{{ resultUrl }}"{{ isExternalResult ? ' target="_blank"' : '' }}>{{ result.title }}{{ isExternalResult ? '<svg class="icon icon-link-out" aria-hidden="true" role="presentation"><use xlink:href="#icon-link-out"/></svg>' }}</a></h3>
  {% if result['pageDescription'] is defined and result['pageDescription'] is not empty %}
    {% set excerpt = result.pageDescription|striptags|raw|slice(0, 175) ~ '...' %}
    <p class="result-excerpt">{{ excerpt }}</p>
  {% elseif result['pageIntro'] is defined and result['pageIntro'] is not empty %}
    {% set excerpt = result.pageIntro.pageIntroText|striptags|raw|slice(0, 175) ~ '...' %}
    <p class="result-excerpt">{{ excerpt }}</p>
  {% endif %}
  <p class="result-url"><a href="{{ resultUrl }}">{{ resultUrl }}</a></p>
</article>
