// Homepage

body.page-home {

  .page-banner {  

    .banner-image {
      &::after {
        left: 0;
        bottom: 0;
        height: 35%;
        width: 100%;
        content: '';
        position: absolute;
        background: linear-gradient(to top, rgba(color(blue-light),1), rgba(color(blue-light),0));
      }

      @include media-md {
        padding-bottom: 46.1538%;
      }
    }

    .banner-text-container {

      @include media-md {      
        &.with-nav {
          margin-top: 0;
        }
      }
    }

    .page-banner-nav {

      @include media-md {
        display: block;
        margin-top: -#{$spacing * 20};
        background-color: color(green-light);
      }
    }
  }

  .page-header {
    @include media-md {
      width: 100%;
      float: none;
      min-height: #{$spacing * 20};
      margin-top: -#{$spacing * 20};
      padding: #{$spacing * 2} calc(25% + #{$spacing * 12.5}) #{$spacing * 2} #{$spacing * 2};

      .-inner {
        width: 100%;
      }
    }
  }

  .action-dropdown {

    @include max-screen($breakpoint-md) {
      margin-bottom: #{$spacing * 8};
    }
  }
}