{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "404" %}
{% set bodyId = "fourohfour-page" %}

{% block content %}
  <div class="page-main-content wrap">
    <div class="content-padding">
      <div class="column-primary">
        <p>The page you are looking for on the Sustain chicago website is no longer available or cannot be found.</p>

        <div class="block">      
          <h4 class="h5">Search</h4>
          {% include "partials/_search-form" with { 'query': '' } %}
        </div>

        <div class="block">
          <h4 class="h5">Quick Actions</h4>
          {% if quickActions.actionDropdown is not empty %}
            {% include 'partials/_action-dropdown' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
