<!doctype html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

  {% include '/partials/_head' %}

  <body class="{% if currentUser %}logged-in {% endif %}{% if bodyClass is defined %}{{ bodyClass }} {% endif %}{{ craft.app.request.getSegment(1) ? craft.app.request.getSegment(1) : 'page-home' }} {{ craft.app.request.getSegment(2) ? craft.app.request.getSegment(2) : '' }} {% block pageClass %}{% endblock %}"{% if bodyId is defined %} id="{{ bodyId }}"{% endif %}>
    <div id="breakpoint-indicator"></div>
    {{ adminbar({ sticky: false }) }}

      <header class="site-header" role="banner">

        <div class="wrap">
          <h1 class="site-title"><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

          {% include '/partials/_nav' %}
        </div>

      </header>

      {% include '/partials/_page-header' %}

      <main class="site-main" role="main">

          {% block content %}{% endblock %}

          {% if entry['pageBottomImage'] is defined and entry['pageBottomImage'] is not empty %}     
            <div class="wrap">            
              <div class="page-bottom-image background-image block">
                {% set image = entry.pageBottomImage.one() %}
                {% set transformedImage = craft.imager.transformImage(image, {
                  effects: { modulate: [100, 0, 100], clut: 'gradient:#163B37-#E2E8EA' } 
                }) %}
                <img src="{{ transformedImage.getUrl() }}" alt="">
              </div>
            </div>         
          {% endif %}
        
          {% if entry['nextPageLink'] is defined and entry['nextPageLink'] is not empty %}
            <div class="wrap">    
              <div class="next-page-link-block block">
                {% if entry['nextPageLinkIntro'] is defined and entry['nextPageLinkIntro'] is not empty %}
                  <p>{{ entry.nextPageLinkIntro }}</p>
                {% endif %}
                <p class="next-page-link"><a href="{{ entry.nextPageLink.one().url }}">{{ entry.nextPageLink.one().title }} ></a></p>
              </div>
            </div>
          {% endif %}

      </main>

      {% include '/partials/_footer' %}

  </body>
</html>