<!doctype html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

  {% include '/partials/_head' %}

  <body class="{% if currentUser %}logged-in {% endif %}{% if bodyClass is defined %}{{ bodyClass }} {% endif %}{{ craft.app.request.getSegment(1) ? craft.app.request.getSegment(1) : 'page-home' }} {{ craft.app.request.getSegment(2) ? craft.app.request.getSegment(2) : '' }} {% block pageClass %}{% endblock %}"{% if bodyId is defined %} id="{{ bodyId }}"{% endif %}>
    <a id="skip-to-content" href="#site-main">skip to main content</a>
    <div id="breakpoint-indicator"></div>

      <header class="site-header" role="banner">

        <div class="wrap">
          <div class="site-headline">          
            <h1 class="site-title"><a href="{{ siteUrl }}">Sustain Chicago</a></h1>
            <h2 class="site-subtitle">A project by the City of Chicago</h2>
          </div>

          {% include '/partials/_nav' %}
        </div>

      </header>

      <main id="site-main" class="site-main" role="main">

        {% include '/partials/_page-header' %}

        {% block content %}{% endblock %}

        {% if entry['pageBottomImage'] is defined and entry['pageBottomImage'] is not empty %}     
          <div class="page-bottom-image block">
            <div class="wrap -extended">
              <div class="background-image">
                {% set image = entry.pageBottomImage.one() %}
                {% set transformedImage = craft.imager.transformImage(image, { 
                  width: 1400,
                  ratio: 7/3,
                  position: image.getFocalPoint(),
                  effects: { modulate: [100, 0, 100], clut: 'gradient:#163B37-#E2E8EA' } 
                }) %}
                <img src="{{ transformedImage.getUrl() }}" alt="">
              </div>
            </div>
          </div>
        {% endif %}

        {% set whatYouCanDoToday = craft.entries.section('getInvolved').slug('what-you-can-do-today').one()%}
        {% if entry is defined and entry.slug != whatYouCanDoToday.slug %}
          <div class="next-page-link-block block wrap">
            <p>Change starts at home.</p>
            <p class="next-page-link"><a href="{{ whatYouCanDoToday.url }}">Live Green ></a></p>
          </div>
        {% endif %}

      </main>

      {% include '/partials/_footer' %}

      {% if craft.app.language != "en_US" %}
        {% include 'partials/_googletranslate.html' %}
      {% endif %}

  </body>
</html>