<!doctype html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  {% include '/partials/_head' %}

  <body class="{% if currentUser %}logged-in {% endif %}{% if bodyClass is defined %}{{ bodyClass }} {% endif %}page-{{ craft.app.request.getSegment(1) ? craft.app.request.getSegment(1) : 'home' }}"{% if bodyId is defined %} id="{{ bodyId }}"{% endif %}>
    <div id="breakpoint-indicator"></div>
    {{ adminbar({ sticky: false }) }}

      <header class="site-header" role="banner">

        <div class="wrap">
          <h1 class="site-title"><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

          {% include '/partials/_nav' %}
        </div>

      </header>

      <main class="site-main" role="main">
        <div class="wrap">
          {% block content %}{% endblock %}
        </div>
      </main>

      {% include '/partials/_footer' %}

  </body>
</html>