{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set focusAreasColors = ['dark', 'light'] %}
{% set featuredPageColors = ['dark', 'light', 'white'] %}
{% set projectsEntry = craft.entries.section('aroundChicago').slug('projects').one() %}

{% block content %}

  {% if entry.actionDropdown is not empty %}
  <div class="wrap -extended">  
    <div class="grid right-aligned">
      <div class="med-three-fourths">      
        {% include 'partials/_action-dropdown' %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="wrap -extended">

    <div class="focus-areas-showcase block">
      <h4>Our Focus Areas</h4>
      <ul class="focus-areas-nav">
        {% for focusArea in craft.entries.section('focusAreas').level(2).all() %}
          {% set colorIndex = loop.index - 1 %}
          {% if colorIndex > focusAreasColors|length - 1 %} 
            {% set colorIndex = colorIndex % focusAreasColors|length %}
          {% endif %}
          <li data-focus-area="#{{ focusArea.slug }}" class="{{ focusAreasColors[colorIndex] }} {{ loop.index == 1 ? ' -active' : '' }}">{{ focusArea.title }}</li>
        {% endfor %}
      </ul>

      <div class="focus-areas-content">
        {% for focusArea in craft.entries.section('focusAreas').level(2).all() %}
          {% set colorIndex = loop.index - 1 %}
          {% if colorIndex > focusAreasColors|length - 1 %} 
            {% set colorIndex = colorIndex % focusAreasColors|length %}
          {% endif %}
          <div class="focus-area grid{{ loop.index == 1 ? ' -active' : '' }}" id="{{ focusArea.slug }}">
            <div class="focus-area-overfiew card with-hover {{ focusAreasColors[colorIndex] }}">
              <header class="card-header">
                <h3 class="card-title"><a href="{{ focusArea.url }}" >{{ focusArea.title }}</a></h3>
              </header>
              <div class="card-description">
                <p>{{ focusArea.pageDescription }}</p>
              </div>
              <p class="card-action"><a href="{{ focusArea.url }}" >Learn More ></a></p>
            </div>

            {% set relatedProjects = craft.entries.descendantOf(projectsEntry).relatedTo(focusArea).all() %}
            {% if relatedProjects|length %}
              {% if craft.entries.descendantOf(projectsEntry).relatedTo(focusArea).search('featured:1').all()|length %}
                {% set featuredProjects = craft.entries.section('aroundChicago').descendantOf(projectsEntry.id).relatedTo(focusArea).search('featured:1') %}
              {% else %}
                {% set featuredProjects = relatedProjects.one() %}
              {% endif %}

              <div class="featured-projects med-one-half grid {{ focusAreasColors[colorIndex] }}{{ featuredProjects.all()|length == 1 ? ' -single' : '' }}">

                {% for featuredProject in featuredProjects.all() %}
                    
                  {% set projectImage = craft.imager.transformImage(featuredProject.postImage.one(), { width: 600, effects: { colorBlend: ['rgb(255, 255, 255)', 0.15], clut: 'gradient:rgba(22,59,55,.45)-rgba(226,232,234,.4)' } }) %}
                  {% if featuredProjects|length == 1 %}
                    <div class="featured-project card with-hover -full -small -split {{ focusAreasColors[colorIndex] }}">
                      <div class="split-container">
                        <header class="card-header">
                          <h4 class="card-tag">Featured Project</h4>
                          <h3 class="card-title"><a href="{{ featuredProject.url }}" class="featured-project-toggle">{{ featuredProject.title }}</a></h3>
                        </header>
                        <p class="card-action"><a href="{{ featuredProject.url }}">Learn more ></a></p>
                      </div>
                      <div class="split-container -image" style="background-image:url('{{ projectImage.getUrl() }}');"></div>
                    </div>
                  {% else %}
                    <div class="featured-project card with-hover one-half -small {{ focusAreasColors[colorIndex] }}">
                      <header class="card-header">
                        <h4 class="card-tag">Featured Project</h4>
                        <h3 class="card-title"><a href="{{ featuredProject.url }}" class="featured-project-toggle">{{ featuredProject.title }}</a></h3>
                      </header>
                      <p class="card-action"><a href="{{ featuredProject.url }}">Learn more ></a></p>
                      <div class="card-image" style="background-image:url('{{ projectImage.getUrl() }}');"></div>
                    </div>
                  {% endif %}

                {% endfor %}

              </div>

            {% endif %}

          </div>
        {% endfor %}
      </div>

    </div>

  </div>

  {% if entry.homepageStats|length %}
    <div class="wrap">
      {% include "blocks/_background-image-with-stat" with { 'block' : entry.homepageStats.one() } %}
    </div>
  {% endif %}

  {% if entry.featuredPages is not empty %}
    <div class="wrap -extended">
      <div class="block grid">
      {% for page in entry.featuredPages.all() %}
        {% set colorIndex = loop.index - 1 %}
        {% if colorIndex > featuredPageColors|length - 1 %} 
          {% set colorIndex = colorIndex % featuredPageColors|length %}
        {% endif %}
        <div class="card with-hover {{ featuredPageColors[colorIndex] }}">
          <header class="card-header">
            <h3 class="card-title"><a href="{{ page.entry.one().url }}">{{ page.headline is not empty ? page.headline : page.entry.title }}</a></h3>
          </header>
          <div class="card-description">
            <p>{{ page.description }}</p>
          </div>
          <p class="card-action"><a href="{{ page.entry.one().url }}">{{ page.entry.one().title }} ></a></p>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if entry.homepageStats|length == 2 %}
    <div class="wrap">
      {% include "blocks/_background-image-with-stat" with { 'block' : entry.homepageStats.nth(1) } %}
    </div>
  {% endif %}

  <div class="wrap -extended">

    <div class="block grid align-flex-start">

      <div class="grid med-one-half med-order-1">

        {% if craft.entries.descendantOf(projectsEntry).search('featured:1').all()|length %}
          {% set featuredProject = random(craft.entries.descendantOf(projectsEntry).search('featured:1').all()) %}
          {% set projectImage = craft.imager.transformImage(featuredProject.postImage.one(), { width: 600, effects: { colorBlend: ['rgb(255, 255, 255)', 0.15], clut: 'gradient:rgba(22,59,55,.45)-rgba(226,232,234,.4)' } }) %}
          <div class="card profile with-hover light -small one-half">
            <header class="card-header">
              <h4 class="card-tag">Featured Project</h4>
              <h3 class="card-title"><a href="{{ featuredProject.url }}">{{ featuredProject.title }}</a></h3>
            </header>
            <p class="card-action"><a href="{{ featuredProject.url }}">Learn more ></a></p>
            <div class="card-image" style="background-image:url('{{ projectImage.getUrl() }}');"></div>
          </div>
        {% endif %}

        {% include 'partials/_random-person' %}

      </div>
      
      <div class="card dark med-order-0">
        <header class="card-header with-action">
          <h3 class="card-title -small">Latest</h3>
          <p class="header-action"><a href="https://twitter.com/{{ footerContent.twitterHandle }}">See all<svg class="icon icon-link-out"><use xlink:href="#icon-link-out"/></svg></a></p>
        </header>
        <div class="card-content">
          <a class="twitter-timeline" data-tweet-limit="3" data-link-color="#6eedaa" data-chrome="noheader nofooter noborders" href="https://twitter.com/{{ footerContent.twitterHandle }}?ref_src=twsrc%5Etfw">Tweets by {{ footerContent.twitterHandle }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

    </div>

  </div>

{% endblock %}