// Colors
$colors: (
  black: #02191C,
  white: #fff,
  green-dark: #163B37,
  green-light: #6EEDAA,
  blue: #0198DD,
  blue-light: #E2E8EA,
  red: #E66969
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Chart Colors
$chart-colors: (
  '1': color(green-dark),
  '2': '#2672F4',
  '3': color(red),
  '4': '#61BD92',
  '5': color(green-light),
  '6': '#F4DD77',
  '7': '#B0DAE3'
);

// Global Wrapper
$global-wrap: 1400px;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 975px;
$breakpoint-xl: 1200px;
$breakpoint-nav: 1168px;

// Easings
$transition: .2s !default;
$slide-easing: cubic-bezier(0.65, 0, 0.35, 1);

// Spacing
$spacing: 10px;

// Misc Stylings
$box-shadow: 0 2px 10px 0px rgba(color(black), .5);
$box-shadow-hover: 0 2px 10px 10px rgba(color(black), .5);